In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import folium
import json                                       # json = JavaScript Object Notation.
import os
from sklearn.preprocessing import MinMaxScaler    # scikit-learn 라이브러리의 전처리 기능.
import re

In [2]:
df = pd.read_csv('project1_df2_3.csv')

In [3]:
df.shape

(7959, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7959 entries, 0 to 7958
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7959 non-null   int64
 1   num         7959 non-null   int64
 2   time        7959 non-null   object
 3   name        7959 non-null   object
 4   latitude    7959 non-null   float64
 5   longitude   7959 non-null   float64
 6   likes       7959 non-null   int64
 7   comments    7696 non-null   float64
 8   hashtag     7959 non-null   object
 9   code        7959 non-null   object
 10  address     7959 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 684.1+ KB

### 총 장소가 2,925개 이다 ###

In [5]:
df.name.value_counts()    #nunique = 2925개 인것임

Seoul, Korea                  293
서울숲 Seoul Forest Park         164
일산 호수 공원 - Ilsan Lake Park    100
벚꽃아래                           77
Incheon, Korea                 70
                             ...
덕소삼패지구                          1
도봉산신선대                          1
미원면                             1
신세계백화점 의정부점                     1
동국대                             1
Name: name, Length: 2925, dtype: int64

In [6]:
df.name[:50]

0                                                 서서울cc
1                                                 Suwon
2                                              레이크사이드cc
3                                               플라자cc용인
4                                               김포한강신도시
5                                                   강원도
6                                          Seoul, Korea
7                                               E-World
8                                              여의도 한강공원
9                                             Jeju City
10                              대구 - Daegu, South Korea
11                                              광교아브뉴프랑
12                                                제이드가든
13                                               회룡 중랑천
14    서울 경복궁- Gyeongbokgung Palace, Seoul South Kore...
15                                               벚꽃나무아래
16                                         Wonju, Korea
17                              Seoul, South Korea - 서울
18                                              벚꽃나무 아래
19                                               하남미사지구
20                                                  자하연
21                                 Incheon, South Korea
22                                                  성당못
23                                            서울대공원 동물원
24                             올림픽공원 Seoul Olympic Park
25                                         Seoul, Korea
26                                            한국전통문화대학교
27                                        N SEOUL TOWER
28                                                동촌유원지
29                                               안산호수공원
30                                              광교산 산책길
31                                                정독도서관
32                                             인일여자고등학교
33                                                 벚꽃엔딩
34                                                   파주
35                                      Inha University
36                                              경포가시연습지
37                                                  양재천
38                                   Daegu, South Korea
39                                              Jeju-do
40                                             인천초은고등학교
41                                        홍대입구역 9번출구 근처
42                                          Wknd Lounge
43                           남산 서울타워 Namsan Seoul Tower
44                                                보라매공원
45                              Loiter - Coffee Shelter
46                                                 벌레소굴
47                                  Songdo Central Park
48                                            여기가어디게~~~
49                                               벚꽃나무아래
Name: name, dtype: object

In [7]:
b= pd.DataFrame(df.groupby(["name","address"])["code"].count())

In [8]:
b1 = b.reset_index().sort_values("code", ascending = False).reset_index()

In [9]:
b1['name']

0                     Seoul, Korea
1            서울숲 Seoul Forest Park
2       일산 호수 공원 - Ilsan Lake Park
3                   Incheon, Korea
4                           석촌호수공원
                   ...
3012                          바우지움
3013                          반월마을
3014                          반포본동
3015                       반포주공아파트
3016                          힐링힐링
Name: name, Length: 3017, dtype: object

In [10]:
df0=df[df.address.str.contains('서울')==True]

len(df0)

2641

In [11]:
df1 =df0[df0.name.str.contains('Seoul, Korea')==False]

df2 = df1[df1.name.str.contains('Seoul, South Korea')==False]

In [12]:
df0[df0.name=='Seoul, Korea'].address.value_counts().keys()[0]

'서울 서초구 잠원동 18-2'

In [13]:
len(df2)

2312

In [14]:
df3 =df2[df2.address!=(df0[df0.name=='Seoul, Korea'].address.value_counts().keys()[0])]
len(df3)

2288

In [15]:
df3.name.value_counts()

서울숲 Seoul Forest Park        164
석촌호수공원                        67
Seoul National University     45
벚꽃아래                          43
석촌호수                          42
                            ...
원주시                            1
오류동                            1
구로거리공원                         1
광면                             1
Eunpyeong District             1
Name: name, Length: 822, dtype: int64

In [16]:
df3.time ^[]

ValueError: operands could not be broadcast together with shapes (2288,) (0,)

## df3 : 서울에 점이 822개 찍힐거야 ##

In [53]:
df3.name.value_counts()

서울숲 Seoul Forest Park        164
석촌호수공원                        67
Seoul National University     45
벚꽃아래                          43
석촌호수                          42
                            ...
마포대교                           1
화우림                            1
전라북도 부안                        1
도곡동                            1
하트 뿅!♡뿅~!♡                     1
Name: name, Length: 822, dtype: int64

### 일단 df3까지 ###--------------------------------------------

In [54]:
df3.columns

Index(['Unnamed: 0', 'num', 'time', 'name', 'latitude', 'longitude', 'likes',
       'comments', 'hashtag', 'code', 'address'],
      dtype='object')

In [55]:
df4=df3[df3.time.str.contains('2021')==True]

In [82]:
address_list = df4.address.reset_index().drop("index", axis=1)["address"]

In [114]:
address_list = list(address_list)

In [136]:
city = []

In [137]:
city

[]

In [138]:
for x in range(len(address_list)):
    city.append(address_list[x].split()[1])

In [140]:
df4["city"] = city

,Unnamed: 0,num,time,name,latitude,longitude,likes,comments,hashtag,code,address,city
8,8,10,2021-04-07,여의도 한강공원,37.526906,126.934372,219,6.0,[],CNXPrWJnyRA,서울 영등포구 여의도동 85,영등포구
14,15,14,2021-04-07,"서울 경복궁- Gyeongbokgung Palace, Seoul South Kore...",37.556664,126.972640,0,0.0,"['#IPhone12promax', '#photography', '#꿈꾸는사진가',...",CNXjHp4LkGs,서울 중구 남대문로5가 73-2,중구
15,17,15,2021-04-07,벚꽃나무아래,37.525005,126.858908,16,0.0,"['#단체사진', '#봄', '#벚꽃', '#인스타그램', '#얼스타그래...",CNXjE6dMpFq,서울 양천구 신정동 953-8,양천구
20,22,20,2021-04-07,자하연,37.460831,126.952244,24,2.0,[],CNXiZ9dpqPE,서울 관악구 신림동 산 56-1,관악구
23,25,23,2021-04-07,서울대공원 동물원,37.519347,127.100615,1,0.0,"['#서울대공원', '#동물원', '#벚꽃', '#벚꽃놀이', '#벚꽃구경']",CNXi7P1pSce,서울 송파구 신천동 7,송파구
...,...,...,...,...,...,...,...,...,...,...,...,...
7939,8942,8949,2021-04-06,서울대입구역,37.480667,126.952808,30,2.0,[],CNUGR5NFxn7,서울 관악구 봉천동 979-1,관악구
7942,8946,8954,2021-04-06,롯데월드몰,37.513446,127.103478,57,2.0,"['#파라솔만한우산', '#럽스타']",CNUF199jrPB,서울 송파구 신천동 29,송파구
7948,8952,8961,2021-04-06,서울특별시 서대문구 남가좌동,37.572795,126.921704,80,1.0,"['#Seoul', '#Korea', '#cherryblossom', '#sprin...",CNUGGF4JErl,서울 서대문구 남가좌동 386,서대문구
7954,8958,8968,2021-04-06,당인리 발전소 벚꽃길,37.546425,126.917597,113,0.0,"['#fujifilmxt3', '#xf50140mm', '#당인리벚꽃길', '#벚꽃...",CNUF8onMEE2,서울 마포구 합정동 402-1,마포구
7957,8961,8973,2021-04-06,JW Marriott Dongdaemun Square Seoul,37.570178,127.005751,199,3.0,[],CNUFuwepnDg,서울 종로구 종로5가 444-5,종로구

In [18]:
len(df[df['name'].str.contains('제주도')].name)      ## 총 20개 중 4개빼고 날리기

37

In [19]:
'Everland Theme Park & Resort, Korea' 
    
'Chungnam National University, Daejeon, Korea'

'Lotte World Seoul, Korea'

'Lotte World Seoul, Korea'

In [20]:
df[df['address'].str.contains('제주')].name.unique()

array(['Jeju City', 'Jeju-do', '녹산로 유채꽃도로', '조천읍', '제주도',
       '10004ok_coffee', '삼성혈', '애월고등학교', '환상의 섬 Jeju Island', '한라수목원',
       '비밀의숲', '항파두리 항몽유적지', '제주대학교', '제주도 삼성혈', '한라산아래첫마을', '상효원 수목원',
       '여섯번의 보름, 6times 15days in Jeju', '전농로', '호근동', '제주도 애월읍',
       'Jeju Island, Korea', '아줄레주', '전농로 벗꽃길', '가시리 꽃길', '효돈마을',
       '도두봉 정상', '어썸스테이',
       'Jeju Free International City Development Center', 'Jeju Island',
       '노리매', '보름왓', 'Habilis Coffee - 하빌리스', '잔디공장', '오설록', '위미리',
       '푸른섬 제주도', '용머리해안', '다람쥐식탁', '서귀포',
       '해비치호텔&리조트 - Haevichi hotel & resort', '오라C.C', '제주도 한림',
       '제주 함덕 서우봉 해변', '성읍민속마을', '함덕해변', '제주 남원읍', '카멜리아 힐',
       '제주신화월드 Jeju Shinhwa World', 'Osulloc Tea Museum', 'Seogwipo',
       '신산공원', '드르쿰다인성산', '제대 왕벚꽃길', '조랑말체험공원', '예래생태공원', '사계리 형제해안로',
       '제주종합경기장', '켄싱턴리조트 서귀포', '제주대학교 입구 벚꽃길', '오설록티뮤지엄', '三姓穴',
       '용연구름다리', '녹산로'], dtype=object)